<section class="background colourful"></section>

<section class="container">

<!--
    <ul>
      <li ng-repeat="image in wc.courseImages">
        {{ image.title }}
      </li>
    </ul>
-->

  <section class="droplet" ng-class="{ uploading: wc.Droplet.interface.isUploading() }">

    <droplet ng-model="wc.Droplet.interface">

      <div class="loading" ng-class="{ visible: wc.Droplet.interface.isUploading() }">
        <svg viewBox="0 0 400 400">
          <path class="loading-path" data-progressbar ng-model="wc.Droplet.interface.progress.percent"
                d="M 0,1 L 398,1 L 398,234 L 1,234 L 0,1"
                stroke="#D3B2D1" stroke-width="1" fill-opacity="0"
                style="stroke-dasharray: 392px, 392px;stroke-dashoffset: 392px;"></path>
        </svg>
      </div>

      <comment></comment>

      <ul class="files">

        <li ng-repeat="image in wc.courseImages">
          <droplet-thumb ng-model="image"></droplet-thumb>
          <!-- <div class="delete" ng-click="model.deleteFile()">&times;</div> -->
          <div class="size">{{model.file.size / 1024 / 1024 | number: 1}}MB</div>
          <div class="add" ng-click="wc.addFile(model)">+</div>

        </li>

      </ul>

    </droplet>

  </section>

  <section class="toolbar">

    <input type="button" class="button upload-files" value="Save Collection"
           ng-click="wc.saveCollection()"/>
  </section>
  <section class="well">
    <ul class="list-inline">
      <li ng-repeat="image in wc.collection">
        <droplet-thumb ng-model="image"></droplet-thumb>
      </li>
    </ul>

  </section>

</section>
