body {
  /*margin-top: -5em; /* adding margin-top to use vertical empty area in iframe */
  padding-top: 0;
  margin-left: .5em;
}
.content {
  position: relative;
  top: 76px;
}
.header-bar {
  margin: 20px 0;
}

ul.list-inline .as-sortable-item,
ul.list-inline .as-sortable-placeholder {
  display: inline-block;
  min-height: 20px;
  float: left;
}

.as-sortable-item, .as-sortable-placeholder {

}

.as-sortable-item-handle {
  cursor: move;
}

.as-sortable-placeholder {
    border: 1px dashed darkgrey;
    box-sizing: border-box;
    background-color: #dbdbdb;
}

.as-sortable-drag {
    opacity: .8;
}

/* this overwrites the xeditable stylized editable fields */
.editable {
  border-bottom: none;
  color: inherit;
}
