body {
  /*margin-top: -5em; /* adding margin-top to use vertical empty area in iframe */
  padding-top: 0;
  margin-left: .5em;
}
.content {
  position: relative;
  top: 76px;
}
.header-bar {
  margin: 20px 0;
}




.as-sortable-item, .as-sortable-placeholder {
    min-height: 20px;
    display: inline-block;
    float: left;
}

.as-sortable-item-handle {
  cursor: move;
}

.as-sortable-placeholder {
    border: 1px dashed darkgrey;
    box-sizing: border-box;
    background-color: #dbdbdb;
}

.as-sortable-drag {
    opacity: .8;
}

.as-sortable-hidden {
}
