.image-collection-fixed {
  position: fixed;
  left: 15px;
  top: 0;
  right: 0;
  z-index: 100;
}
.image-collection-fixed .panel-body {
  height: 130px;
  width: 100%;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}
#image-collection-panel .panel-body {
  position: relative;
  min-height: 100px;
}
.collection-drag-handle {
  font-size: 1.2em;
  padding-top:.1em;
  padding-right:.3em;
}

.collection-edit-button {
  border: none;
}
#image-collection-panel .form-inline {
  margin-top: 5px;
}

.share-iiif {
  display: inline-block;
  font-size: 0;
  vertical: middle;
  width:16px;
  height:16px;
  background-image:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiI+PHRpdGxlPmlpaWYtYmxhY2s8L3RpdGxlPjxwYXRoIGQ9Ik0uNzMgNS44N2wyLjg5IDEuMDd2Ny43NEwuNzMgMTMuNjJWNS44N00zLjc0IDRjLjMzIDEtLjExIDEuNzgtMSAxLjc4QTIuNiAyLjYgMCAwIDEgLjU3IDRjLS4zMy0xIC4xMS0xLjc4IDEtMS43OEEyLjYgMi42IDAgMCAxIDMuNzQgNE03LjMgNS44N0w0LjQxIDYuOTR2Ny43NGwyLjg5LTEuMDZWNS44N000LjI3IDRjLS4zMyAxIC4xMSAxLjc4IDEgMS43OEEyLjYgMi42IDAgMCAwIDcuNDQgNGMuMzMtMS0uMTEtMS43OC0xLTEuNzhBMi42IDIuNiAwIDAgMCA0LjI3IDRNOCA1Ljg3bDIuODkgMS4wN3Y3Ljc0TDggMTMuNjJWNS44N00xMS4wNyA0Yy4zMyAxLS4xMSAxLjc4LTEgMS43OEEyLjYgMi42IDAgMCAxIDcuOSA0Yy0uMzMtMSAuMTEtMS43OCAxLTEuNzhBMi42IDIuNiAwIDAgMSAxMS4wNyA0bTQuNDctMi43NHYyLjY2cy0uOTQtLjM3LTEgLjU4IDAgMS4zNyAwIDEuMzdsMS0uMzR2Mi4zM2wtMS4wNS4zOHY1LjQ0bC0yLjg4IDEuMDdWNS4xM2E0IDQgMCAwIDEgMy45My0zLjg3Ii8+PC9zdmc+')
}