table.files {
  border-collapse: collapse;
  width: 100%;
}
table.files thead {
  border-bottom: 1px solid #ccc;
}
table.files th, table.files td {
  padding: 5px;
}
table.files tr:hover {
  background-color: #efefef;
}
table.files td > button {
  margin-left: 10px;
}
.library-add-images {
  border: 1px solid #2e6da4;
  border-radius: 4px;
  padding: 10px;
  margin: 10px 0;
}
input#uploadimages[type="file"] {
    display: none;
}
.button-library {
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: transparent;
  display: inline-block;
  padding: 6px 12px;
  font-weight: bold;
  cursor: pointer;
}
.button-library:hover {
  background-color: #efefef;
}
.library-source-upload ul.files {
  min-height: 100px;
  border: 1px dashed #ccc;
  background-color: #fff;
  margin: 15px 0 10px 0;
}
.library-source-upload ul.files:before {
  content: "drag and drop";
  position: absolute;
  left: 33%;
  top: 45px;
  font-size: 32px;
  color: #ccc;
}
.library-source-web.mask .form-group {
  opacity: 0.5;
}
.library-source-web label.preview {
  vertical-align: top;
}
.library-source-web img.preview {
  max-width: 200px;
  max-height: 200px;
}
.library-source-web input[type="url"]:invalid {
  border: 1px solid red;
  color: red;
}
.library-source-web input[type="url"]:valid {}
.library-source-web input[type="url"]:not(:placeholder-shown) {}

.library-header {
  padding: .7em;
}

.animate-hide {
/*
 -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
    -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
    -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
*/
  opacity:1;
  /* position: absolute; */
  /* left: 0; */
}

.animate-hide.ng-hide {
  /* left: -100%; */
  opacity:0;
  padding:0 10px;
}


@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}
