.content {
  position: relative;
  top: 76px;
}
a.unlink {
  color: inherit;
}
a.unlink:hover {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
button.btn-unstyled {
  border: none;
  background: none;
}
.header-bar {
  margin: 20px 0;
}
.breadcrumb {
  margin-bottom: 0px;
}
.image-library {

}
.image-collection-fixed {
  position: fixed;
  left: 15px;
  top: 0;
  right: 0;
  z-index: 100;
}
.image-collection-fixed .panel-body {
  height: 130px;
  width: 100%;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}
#image-collection-panel .panel-body {
  position: relative;
  min-height: 100px;
}
.drag-and-drop-overlay {
  position: absolute;
  top: 30%;
  left: 40%;
  z-index: 0;
  font-size: 36px;
  color: #fff;
  opacity: .8;  
  display: inline-block;
}
.notifications {
  margin: 1em 0;
}

table.files {
  border-collapse: collapse;
  width: 100%;
}
table.files thead {
  border-bottom: 1px solid #ccc;
}
table.files th, table.files td {
  padding: 5px;
}
table.files tr:hover {
  background-color: #efefef;
}
table.files td > button {
  margin-left: 10px;
}