.content {
  position: relative;
  top: 76px;
}
a.unlink {
  color: inherit;
}
a.unlink:hover {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
button.btn-unstyled {
  border: none;
  background: none;
}
.header-bar {
  margin: 20px 0;
}
.breadcrumb {
  margin-bottom: 0px;
}
.image-library {

}
.image-collection-fixed {
  position: fixed;
  left: 15px;
  top: 0;
  right: 0;
  z-index: 100;
}
.image-collection-fixed .panel-body {
  height: 130px;
  width: 100%;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}
.drag-and-drop-overlay {
  position: absolute;
  top: 30%;
  left: 40%;
  z-index: 0;
  font-size: 36px;
  color: #fff;
  opacity: .8;  
  display: inline-block;
}