<div data-ng-include data-src="'/static/app/templates/breadcrumbs.html'"></div>

<div class="row">
  
<!-- VIEW IMAGE -->
<div class="col-md-6">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">View Libray Image</h3>
    </div>
    <div class="panel-body">
      <nav class="text-center">
        <ul class="pagination pagination-lg">
          <li>
            <a href="#" aria-label="Previous" ng-click="ic.prev($event)">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li><a>{{ ic.index + 1 }} / {{ ic.CourseCache.images.length }}</a></li>
          <li>
            <a href="#" aria-label="Next" ng-click="ic.next($event)">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
      <div class="col-md-12 text-center">
        <h4>{{ ic.CourseCache.current_image.title || "Untitled" }}</h4>
      </div>
      <div class="col-md-12 text-center" style="height: 400px;">
        <img style="display: block;margin: auto; max-width: 100%; max-height: 100%;" ng-src="{{ ic.CourseCache.current_image.image_url }}"/>
      </div>
      <div class="col-md-12 text-center">
        <p>{{ic.CourseCache.current_image.description||'No Description'}}</p>
      </div>
      <div class="col-md-12">
        <button class="btn btn-primary pull-right" type="button" ng-click="ic.deleteImage()">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
          Delete this image
        </button>
      </div>
    </div>
  </div>
</div>

<!-- EDIT INFO -->
<div class="col-md-5">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Edit information of this image</h3>
    </div>
    <div class="panel-body">
      <p>
        Edit the name of this image (from the default file name), add or change its description and the search information.
      </p>
      <p>
        This edited information will apper on all the instances of this image in each collection.
      </p>
      
      <div class="form-group">
        <label for="ImageName">Image name</label>
        <div class="input-group">
          <div class="form-control" editable-text="ic.CourseCache.current_image.title" e-form="titleForm" onbeforesave="ic.save()" ng-click="titleForm.$show()">
            {{ic.CourseCache.current_image.title||'Untitled'}}
          </div>
          <div class="input-group-btn">
            <button class="btn btn-primary" ng-click="titleForm.$show()" ng-hide="titleForm.$visible">Edit</button>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="Description">Image description</label>
        <div class="input-group">
          <div class="form-control" style="overflow:hidden"  editable-textarea="ic.CourseCache.current_image.description" e-form="descForm" e-rows="7" e-cols="40" onbeforesave="ic.save()" ng-click="descForm.$show()">
            {{ic.CourseCache.current_image.description||'No Description'}}
          </div>
          <div class="input-group-btn">
            <button class="btn btn-primary" ng-click="descForm.$show()" ng-hide="descForm.$visible">Edit</button>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="MetadataDSelect">Image metadata</label>
        <button type="button" class="btn btn-primary" ng-click="ic.metaForm.show()" ng-show="!ic.metaForm.visible">Edit</button>
        <button type="button" class="btn btn-default" ng-click="ic.metaForm.hide()" ng-show="ic.metaForm.visible">Cancel</button>
        <form class="form-inline" ng-class="{'has-error': ic.metaForm.hasError, 'has-success': ic.metaForm.hasSuccess}" ng-submit="">
          <ul class="list-unstyled">
            <li ng-repeat="row in ic.metaForm.data track by $index" style="margin-top: 1em" ng-style="ic.metaForm.waiting ? {opacity:0.5} : {}">
                <div class="form-group">
                  <div class="input-group">
                    <input type="text" class="form-control" ng-readonly="!ic.metaForm.visible" name="label" ng-model="row.label" placeholder="{{ row.label || 'No Label' }}" />
                    <span class="input-group-addon">:</span>
                    <input type="text" class="form-control" ng-readonly="!ic.metaForm.visible" name="value" ng-model="row.value" placeholder="{{ row.value || 'No Value' }}" />
                  </div>
                </div>
                <div class="form-group" ng-show="ic.metaForm.visible">
                  <button type="button" class="btn btn-danger" ng-click="ic.metaForm.deleteRow($index)">
                    <span class="glyphicon glyphicon-trash"></span>
                  </button>
                </div>
            </li>
            <li ng-show="ic.metaForm.visible" style="margin-top: 1em">
              <button type="submit" class="btn btn-primary" ng-click="ic.metaForm.save()" ng-disabled="ic.metaForm.waiting">Save Metadata</button>
              <button class="btn btn-default" ng-click="ic.metaForm.addRow()">Add Metadata Field</button>
            </li>
            <div class="alert alert-danger" role="alert" ng-if="ic.metaForm.hasError">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <span class="sr-only">Error:</span> {{ic.metaForm.errorMsg}}
            </div>
          </ul>
        </form>
      </div>
    </div>
  </div>
</div>

</div>