<div data-ng-include data-src="'/static/app/templates/breadcrumbs.html'"></div>

<div class="row">
  
<!-- VIEW IMAGE -->
<div class="col-md-7">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">View Libray Image</h3>
    </div>
    <div class="panel-body">
      <nav class="text-center">
        <ul class="pagination pagination-lg">
          <li>
            <a href="#" aria-label="Previous" ng-click="ic.prev($event)">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li><a>{{ ic.index + 1 }} / {{ ic.CourseCache.images.length }}</a></li>
          <li>
            <a href="#" aria-label="Next" ng-click="ic.next($event)">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
      <div class="col-md-12 text-center">
        <h4>{{ ic.CourseCache.current_image.title || "Untitled" }}</h4>
      </div>
      <div class="modal-body ng-scope">
        <img style="display: block; margin-left: auto; margin-right: auto; max-height: 400px;" ng-src="{{ ic.CourseCache.current_image.image_url }}"/>
      </div>
      <div class="col-md-12">
        <button class="btn btn-primary pull-right" type="button" ng-click="ic.deleteImage()">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
          Delete this image
        </button>
      </div>
    </div>
  </div>
</div>

<!-- EDIT INFO -->
<div class="col-md-5">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Edit information of this image</h3>
    </div>
    <div class="panel-body">
      <p>
        Edit the name of this image (from the default file name), add or change its description and the search information.
      </p>
      <p>
        This edited information will apper on all the instances of this image in each collection.
      </p>
      
      <div class="input-group">
        <button class="btn btn-sm btn-link" ng-click="titleForm.$show()" ng-hide="titleForm.$visible">
          <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
        </button>
        <span editable-text="ic.CourseCache.current_image.title" e-form="titleForm" ng-click="titleForm.$show()" onbeforesave="ic.save()">
          {{ ic.CourseCache.current_image.title || "Untitled" }}
        </span>
      </div>

      <div class="input-group">
        <button class="btn btn-sm btn-link" ng-click="descForm.$show()" ng-hide="descForm.$visible">
          <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
        </button>
        <span editable-text="ic.CourseCache.current_image.description" e-form="descForm" ng-click="descForm.$show()" onbeforesave="ic.save()">
          {{ ic.CourseCache.current_image.description || "No Description" }}
        </span>
      </div>

      <ul class="list-unstyled">
        <li ng-repeat="meta in ic.image.metadata track by $index" ng-init="fname = 'metadataForm' + meta.id">
          <form class="form-inline" editable-form name="fname" ng-submit="" onaftersave="ic.saveMetadata(meta.label, meta.value, $index)">
            <button type="button" class="btn btn-sm btn-link" ng-click="fname.$show()" ng-show="!fname.$visible">
              <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            </button>
            <strong ng-click="fname.$show()" editable-text="meta.label">{{ meta.label || "No Label" }}</strong>:
            <span ng-click="fname.$show()" editable-text="meta.value">{{ meta.value || "No Value" }}</span>
            <span ng-show="fname.$visible">
              <button type="submit" class="btn btn-primary" ng-disabled="fname.$waiting">
                <span class="glyphicon glyphicon-ok"></span>
              </button>
              <button type="button" class="btn btn-default" ng-disabled="fname.$waiting" ng-click="fname.$cancel()">
                <span class="glyphicon glyphicon-remove"></span>
              </button>
              <button type="button" class="btn btn-danger" ng-disabled="fname.$waiting" ng-click="ic.deleteMetadata($index, fname)">
                <span class="glyphicon glyphicon-trash"></span>
              </button>
            </span>
          </form>
        </li>
        <li ng-hide="ic.editNewMetadata">
          <button class="btn btn-link" ng-click="ic.showNewMetadata()">New Metadata</button>
        </li>
        <li ng-show="ic.editNewMetadata">
          <form ng-submit="ic.saveMetadata()">
            <input type="text" ng-model="ic.newLabel" focus="ic.editNewMetadata"/>:
            <input type="text" ng-model="ic.newValue"/>
            <button type="submit" class="btn btn-primary">
              <span class="glyphicon glyphicon-ok"></span>
            </button>
            <button type="button" class="btn btn-default" ng-click="ic.hideNewMetadata()">
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </form>
        </li>
      </ul>

    </div>
  </div>
</div>

</div>