<div data-ng-include data-src="'/static/app/templates/breadcrumbs.html'"></div>

<div ng-if="wc.canEdit" class="container-fluid">
  <div class="row">
    <div class="col-md-12">
        <div class="notifications" ng-show="wc.notifications.messages.length > 0" ng-repeat="message in wc.notifications.messages track by $index">
          <div class="alert alert-{{message.type}}" role="alert">{{message.content}}</div>
        </div>
    
        <h2>Image Library</h2>
        <div ng-show="wc.isLoading.status" style="position:relative">
          <span us-spinner="{top:0,left:'50%'}"></span>
        </div>
        <div>
            <section class="droplet image-library" ng-class="{ uploading: wc.Droplet.interface.isUploading() }">
              <droplet ng-model="wc.Droplet.interface">
                <droplet-upload-multiple ng-model="wc.Droplet.interface"></droplet-upload-multiple>
                <div style="position:relative">
                      <div class="drag-and-drop-overlay">Drag & Drop</div>
                      <ul class="files files-queued">
                          <li ng-repeat="model in wc.Droplet.interface.getFiles(wc.Droplet.interface.FILE_TYPES.VALID)">
                              <droplet-preview ng-model="model" ng-show="model.isImage()"></droplet-preview>
                              <div class="delete" ng-click="model.deleteFile()">&times;</div>
                              <section class="filename" ng-show="!model.isImage()">{{model.file.name}}</section>
                          </li>
                      </ul>
                </div>
                <input type="button" class="btn btn-primary" value="Upload Files" ng-disabled="wc.Droplet.interface.isUploading() || wc.filesToUpload == 0" ng-click="wc.Droplet.uploadFiles()" />
                <label>Total files to upload:</label> {{wc.filesToUpload}}
                <ul class="files">
                  <li ng-if="courseImage.image_url" ng-repeat="courseImage in wc.courseImages track by $index">
                    <droplet-thumb ng-model="courseImage"></droplet-thumb>
                    <div class="overlay" ng-click="wc.addToCollection(courseImage)">+</div>
                    <div class="resize-overlay" ng-click="wc.imageView(courseImage.id)">
                      <span class="glyphicon glyphicon-resize-full" aria-hidden="true"></span>
                    </div>
                  </li>
                </ul>
              </droplet>
            </section>
        </div>

        <h2>Collection</h2>
        <div>Select images from the library to add to the collection.</div>
        <div id="image-collection-panel" class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><span editable-text="wc.collection.title">{{ wc.collection.title }}</span></h3>
          </div>
          <div class="panel-body">
            <div ng-show="wc.isLoadingCollection.status || wc.isSavingCollection.status">
                <span us-spinner="{top:'50%'}"></span>
            </div>
            <div ng-show="wc.collection.images.length == 0">Empty collection</div>
            <ul class="list-inline">
              <li class="droplet-thumb" ng-repeat="collectionImage in wc.collection.images track by $index">
                <droplet-thumb ng-model="collectionImage"></droplet-thumb>
                <div class="overlay" ng-click="wc.removeFromCollection($index)">-</div>
              </li>
            </ul>
          </div>
          <div class="panel-footer">
            <input type="button" class="btn btn-primary" value="Save Collection" ng-click="wc.saveCollection()" ng-disabled="wc.isSavingCollection.status" />
            <input type="button" class="btn btn-default pull-right" style="margin-left: 20px;" value="Cancel" ng-click="wc.cancelCollection()"/>
            <input type="button" class="btn btn-danger pull-right" value="Delete Collection" ng-show="wc.canDeleteCollection()" ng-click="wc.deleteCollection()"/>
          </div>
        </div>

    </div>
  </div>
</div>
