<h4>Edit Collection {{ wc.collection.title }}</h4>

<div data-ng-include data-src="'/static/app/templates/breadcrumbs.html'"></div>

<div ng-if="wc.canEdit" class="container-fluid">


  <div class="row">
    <div class="notifications" ng-show="wc.notifications.messages.length > 0" ng-repeat="message in wc.notifications.messages track by $index">
      <div class="alert alert-{{message.type}}" role="alert">{{message.content}}</div>
    </div>

    <button type="button" class="btn" ng-click="wc.hideLibrary = false" ng-hide="!wc.hideLibrary">Add Images</button>
    <button type="button" class="btn" ng-click="wc.hideLibrary = true" ng-hide="wc.hideLibrary">Close</button>
  </div>

  <div class="row">
    <div ng-include="'/static/app/templates/collectionPanel.html'" ng-class="wc.hideLibrary ? 'col-md-12' : 'col-md-6'"></div>
    <div ng-include="'/static/app/templates/library.html'" ng-class="wc.hideLibrary ? 'col-md-0' : 'col-md-6'" ng-hide="wc.hideLibrary"></div>
  </div>
</div>
