<div ng-if="wc.canEdit" class="container-fluid">
        <div class="col-md-12 main">
          <h1 class="page-header">Library</h1>

          <section class="droplet well" ng-class="{ uploading: wc.Droplet.interface.isUploading() }">

            <!--
            <div class="add-files">
                <input type="button" class="button add-files" value="Add Files..." />
                <droplet-upload-multiple ng-model="wc.Droplet.interface"></droplet-upload-multiple>
            </div>
            -->

            <droplet ng-model="wc.Droplet.interface">

              <ul class="files">

                <li ng-if="courseImage.image_url" ng-repeat="courseImage in wc.courseImages track by $index">
                  <droplet-thumb ng-model="courseImage"></droplet-thumb>
                  <!-- <div class="delete" ng-click="model.deleteFile()">&times;</div> -->
                  <!-- <div class="size">{{model.file.size / 1024 / 1024 | number: 1}}MB</div> -->
                  <div class="overlay" ng-click="wc.addToCollection(courseImage)">+</div>
                </li>

              </ul>

            </droplet>
            <!-- <label>Filelist length:</label> {{wc.Droplet.interface.getFiles().length}} -->

          </section>


          <h2 class="sub-header"><span editable-text="wc.collection.title">{{ wc.collection.title }}</span></h1>


          <section class="toolbar">

            <input type="button" class="button upload-files" value="Save Collection"
                  ng-click="wc.saveCollection()"/>
          </section>
          <section class="well">
            <ul class="list-inline">
              <li class="droplet-thumb" ng-repeat="collectionImage in wc.collection.images track by $index">
                <droplet-thumb ng-model="collectionImage"></droplet-thumb>
                <div class="overlay" ng-click="wc.removeFromCollection($index)">-</div>
              </li>
            </ul>

          </section>



            </div>
      </div>
</div>
