{% load staticfiles %}
<html lang="en">
<head>
  <link rel="stylesheet" href="{% static "app/css/vendor.css" %}" />
  <link rel="stylesheet" href="{% static "app/css/styles.css" %}" />
  <script src="{% static "app/js/vendor.js" %}"></script>
  <script src="{% static "app/js/app.js" %}"></script>
  <script>
window.appConfig = {{appConfig|safe}};
  </script>
</head>
<body ng-app="media_manager">

<!--
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Media Manager</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/#/workspace">Workspace</a></li>
          <li><a href="/#/collections">Collections</a></li>
        </ul>
      </div>
    </div>
  </nav>
-->

  <div ng-view></div>
</body>
</html>
