{% load staticbuildfiles %}
{% load googleanalytics %}
<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="{% static_build "app/css/vendor.css" %}" />
  <link rel="stylesheet" href="{% static_build "app/css/styles.css" %}" />
  <script src="{% static_build "app/js/vendor.js" %}"></script>
  <script src="{% static_build "app/js/app.js" %}"></script>
  <script>
window.appConfig = {{appConfig|safe}};
  </script>
  {% include_google_analytics %}
</head>
<body>
  {% include "_end_of_life.html" %}
  <div ng-app="media_manager">
    <div ng-view></div>
  </div>
</body>
</html>
