{% load staticbuildfiles %}
<html lang="en">
<head>
  <link rel="stylesheet" href="{% static_build "app/vendor/mirador/css/mirador-combined.css" %}" />
  <script src="{% static_build "app/vendor/mirador/mirador.js" %}"></script>
  <script src="{% static_build "app/vendor/Mirador-meta/metadataPanel.js" %}"></script>
  <style type="text/css">
#viewer {  width: 100%; height: 100%; }
  </style>
  <script>
window.appConfig = {{appConfig|safe}};
  </script>
</head>
<body>
  <div id="viewer"></div>
  <script type="text/javascript">
(function() {
    var data = window.appConfig.data;
    var miradorSettings = {
        "id": "viewer",
        "layout": "1x1",
        "data": data,
        "windowObjects": [{
            "loadedManifest" : data[0].manifestUri,
            //"bottomPanel" : false,
            //"sidePanel" : false,
            "annotationLayer" : false,
            "viewType" : "ThumbnailsView" // ImageView|ThumbnailsView
        }],
        "saveSession": false,
        "mainMenuSettings": {
            'bookmark' : false,
            'layout' : true,
            'options' : false,
            'fullScreenViewer': true
        },
        "showAddFromURLBox": false,
    };

    console.log("Loading mirador with settings: ", miradorSettings);

    window.mirador = Mirador(miradorSettings);
    window.mirador.metadataPlugin();
})();
  </script>
</body>
</html>
