{% load staticbuildfiles %}
<html lang="en">
<head>
  <link rel="stylesheet" href="{% static_build "app/vendor/mirador/css/mirador-combined.css" %}" />
  <link rel="stylesheet" href="{% static_build "app/vendor/mirador-metadata/metadataPanel.css" %}" />
  <script src="{% static_build "app/vendor/mirador/mirador.js" %}"></script>
  <script src="{% static_build "app/vendor/mirador-metadata/metadataPanel.js" %}"></script>
  <style type="text/css">
#viewer {  width: 100%; height: 100%; }
  </style>
  <script>
window.appConfig = {{appConfig|safe}};
  </script>
</head>
<body>
  <div id="viewer"></div>
  <script type="text/javascript">
(function() {
    var data = window.appConfig.data;
    var miradorSettings = {
        "id": "viewer",
        "layout": "1x1",
        "data": data,
        "windowSettings": {
          "availableViews": ["ThumbnailsView", "ImageView"],
          "viewType": "ThumbnailsView",
          "layoutOptions": {
            "newObject" : false,
            "close": false,
            "slotRight": false,
            "slotLeft": false,
            "slotAbove": false,
            "slotBelow": false
          },
          "canvasControls": {
            "annotations" : {
              "annotationLayer": false
            },
            "imageManipulation": {
              "manipulationLayer": false
            }
          }
        },
        "windowObjects": [{
            "loadedManifest" : data[0].manifestUri,
            //"bottomPanel" : false,
            //"sidePanel" : false,
            "annotationLayer" : false
        }],
        "saveSession": false,
        "mainMenuSettings": {
          "show": false
        },
        "displayLayout": false,
        "showAddFromURLBox": false,
    };

    console.log("Loading mirador with settings: ", miradorSettings);

    window.mirador = Mirador(miradorSettings);
    window.mirador.metadataPlugin();
})();
  </script>
</body>
</html>
